.CreatePage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(17, 16, 16);
}
.buton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 5.5vh;
  position: absolute;
  z-index: 100;
  font-size: 20px;
  left: 0px;
  top: 5px;
  color: white;
  background-color: #1d1b1b;
  border: 1px solid rgb(127, 127, 127);
  border-left: 0px;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  box-shadow:0px 0px 15px 3px rgb(0, 0, 0);
}
.image{
  display: flex;

  width: 50%;
  height: 100vh;
  background-color: rgb(17, 16, 16);
  user-select: none;
}
.image img{
  user-select: none;
  margin-left: 5px;
}
.divForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 93vh;
  margin-right: 20px;
  background-color: #171212;
  border-radius: 8px;
  border: 1px solid rgba(66, 65, 65, 0.227);
  box-shadow: 0px 0px 25px 10px rgb(1, 1, 1);
}
.labels {
  color: white;
  font-family: 'Bacasime Antique', serif;
  /* letter-spacing: 4px; */
  font-size: 17px;
}

.block{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  /* background-color: gray; */
  margin-bottom: 15px;
}
.blockIzq{
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: purple; */
  width: 50%;
  margin: 20px 10px 20px 20px;
  
}
.blockDer{
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: purple; */
  width: 50%;
  margin: 20px 20px 20px 10px;
}
.inputs {
  width: 85%;
  height: 4.4vh;
  margin-right: 10px;
  border: 0px;
  background-color: transparent;
  color: white;
  margin-bottom: 0px;
  border-bottom: 3px solid rgb(135, 134, 134);
  transition: border-bottom 0.6s;
  resize: none;
}
.inputs:focus {
  outline: 0px;
  border-bottom: 3px solid rgb(255, 255, 255);
}

.areatext {
  width: 80%;
  height: 10vh;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
  margin-bottom: 25px;
  
  border: 0px;
  outline: none;
  background-color: transparent;
  border-bottom: 3px solid rgb(135, 134, 134);
  color: white;
  transition: border-bottom 0.6s;
  resize: none;
}
.areatext:focus{
  outline: 0px;
  border-bottom: 3px solid rgb(255, 255, 255);
  transition: border-bottom 0.7s;
}
.blockIzqSal{
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: purple; */
  width: 50%;
  margin: 20px 10px 20px 20px;
  /* display: flex;
  align-items: center;
  flex-direction: column;
  background-color: purple;
  width: 49%;
  margin: 20px 60px 20px 10px; */
}

.blockDerSelect{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: purple; */
  width: 50%;
  margin: 20px 20px 20px 10px;
}
.selectors{
  background-color: transparent;
  border: 0px;
  color: white;
  border-bottom: 3px solid rgb(135, 134, 134);
  padding:  0px 2px;
  transition: border-bottom 0.6s;
  outline: none;
}
.selectors:focus{
  border-bottom: 3px solid rgb(255, 255, 255);
}
.blockDerSelect:focus{
  outline: 0px;
  border-bottom: 3px solid rgb(255, 255, 255);
  transition: border-bottom 0.7s;
}

.options {
  background-color: gray;
  outline: none;
}
.dietsDiv {
  /* font-family:"Bebas Neue", sans-serif; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Bacasime Antique', serif;
  letter-spacing: 2px;
  color: white;
  background-color: rgb(51, 45, 45);
  width: 80%;
  border-radius: 30px;
  padding: 10px;
  min-height: 5vh;
  margin-top: 5px;
  margin-bottom: 15px;
}
.dietsInBlock{
  text-align: center;
  display: inline-block;
  margin: 2px 5px;
  background-color: rgb(38, 33, 33);
  width: auto;
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid rgb(142, 140, 140);
}
.btn_invalid{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 35px;
  color: rgb(58, 55, 55);
  background-color: rgba(139, 139, 139, 0.575);
  border: 0px;
  border: 2px solid rgba(106, 104, 104, 0.285);
  padding: 8px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 4px black;
  pointer-events: none;
  user-select: none;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 35px;
  color: black;
  background-color: rgb(203, 202, 202);
  border: 0px;
  border: 2px solid rgb(106, 104, 104);
  cursor: pointer;
  padding: 8px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 4px black;
  user-select: none;
}

.error{
  color: red;
  text-align: center;
  margin: 0px;
  font-size: 11px;
  width: 100%;
  height: 2.5vh;
  margin-left: 0px;
}