.container {
  display: flex;
  justify-content: center;
  align-items: center;
    height: 60vh;
    width: 100%;
    /* background-color: red; */
  }
  
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10vh;
    width: 70%;
    /* background-color: blue; */
  }

  .loaderIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rebeccapurple; */
    height: 200px;
    width: 50%;
    margin: 10px;
    font-size: 50px;
  }

  .loaderText {
    position: relative;
    /* background-color: red; */
    width: 50px;
    margin: auto;
  }
  .loaderText:after {
    content: 'Loading';
    font-weight: bold;
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    font-family: 'Bacasime Antique', serif;
  }
  
  @keyframes loading-text {
    0% {
      content: 'Loading';
    }
    15%{
      content: 'Loading.';
    }
    25% {
      content: 'Loading..';
    }
    35%{
      content: 'Loading...';
    }
    50% {
      content: 'Loading....';
    }
    75% {
      content: 'Loading.....';
    }
  }
  