.card {
  width: 310px;
  height: 64vh;
  background-color: #171212;
  position: relative;
  z-index: 100;
  text-align: center;
  margin: 30px;
  margin-top: 30px;
  border-radius: 10px;
  border: 2px solid rgb(52, 52, 52);
  box-shadow: 0px 0px 20px 13px rgb(33, 33, 33);
}
.guardar{
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  /* background-color: gray; */
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35vh;
  margin: 0px;
  user-select: none;
  border-bottom: 2px solid rgb(52, 52, 52);
}
.img img {
    user-select: none;
    width: 100%;
    height: 35vh;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 55px;
    width: 90%;
    background-color: #F3F9D2;
    border-radius: 3px;
    font-size:18px;
    font-family: 'Bacasime Antique', serif;
    padding: 0px;
}
.diets{
    display: flex;
    flex-direction: column;
    color: white;
    /* font-family: 'Bebas Neue', sans-serif; */
    font-family: 'Bacasime Antique', serif;
    letter-spacing: 3px;
    /* background-color: gray; */
    padding: 0px 10px;
}

.nav{
  text-decoration: none;
  color: black;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}