.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: red; */
}
.block{
    background-color: #591815;
    width: 95%;
    margin-top: 80px;
}