.nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color:#060606;
    width: 100%;
    height: 105px;
    position: fixed;
    z-index: 9999;
    /* border-bottom: 2px solid rgb(33, 32, 32);   */
    box-shadow: 0px 0px 20px 10px rgb(9, 9, 9);  
}
.block1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1d1b1b;
    width: 10%;
    min-height: 50px;
    text-align: center;
    font-family: 'Bacasime Antique', serif;
    font-size: 12px;
    padding: 10px 0px;
    box-shadow: 0px 0px 20px 15px rgb(9, 9, 9);
}
.h1User{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    min-height: 5.3vh;
}
.block2{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1d1b1b;
    width: 80%;
    height: 105px;
    position: relative;
    border-bottom: 2px solid rgb(33, 32, 32);  
    box-shadow: 0px 0px 20px 10px rgb(9, 9, 9);  
    border-radius: 10px;
}
.block3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1d1b1b;
    width: 10%;
    min-height: 11vh;
    text-align: center;
    font-family: 'Bacasime Antique', serif;
    font-size: 12px;
    padding: 10px 0px;
    box-shadow: 0px 0px 20px 15px rgb(9, 9, 9);
}
.btnFav{
    background-color: transparent;
    color: white;
    border: 0px;
    font-family: 'Bacasime Antique', serif;
    font-size: 20px;
    cursor: pointer;
}


/*Logo - Search - BTN Create*/
.searchSector{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    width: 90%;
    height: 50px;
    /* background-color: rebeccapurple; */
}

.logo{
    /* background-color: red; */
    width: 100px;
    margin-bottom: 15px;
}
/*Input y boton*/
.searchTotal{
    /* background-color: blue; */
    display: flex;
    margin: 0px;
    flex-direction: row;
    width: 40%;
}
.search{
    width: 100%;
    height: 4.3vh;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    outline: 0px;
    border: 0px;
    border-bottom: 1px solid rgb(143, 139, 139);
    cursor: text;
}
.butonSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(71, 70, 70);
    border-radius: 0px 10px 10px 0px;
    width: 20%;
    height: 4.3vh;
    outline: 0px;
    border: 0px;
    border-bottom: 1px solid rgb(143, 139, 139);
    cursor: pointer;
    transition: background-color .5s;
}
.butonSearch:hover{
    background-color: rgb(53, 49, 49);
}
.botonCreate{
    border: 0px;
    color: white;
    background-color: rgb(79, 78, 78);
    cursor: pointer;
    padding: 6px;
    border-radius: 10px;
    border-top: 2px solid rgb(84, 84, 84);
    border-right: 2px solid rgb(84, 84, 84);
    border-bottom: 2px solid rgb(36, 36, 36);
    border-left: 2px solid rgb(36, 36, 36);
    transition: border-bottom .5s;
}
.botonCreate:hover{
    border-bottom: 2px solid black;
    transition: border-bottom .5s;
}
.blockSelectors{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 6px;
    width: 75%;
    height: 25px;
    /* background-color:purple;  */
    
}
.selector{
    color: white;
    background-color: transparent;
    width: 15%;
    border: 0px;
    border-bottom: 2px solid rgb(122, 121, 121);
    outline: 0px;
    transition: border-bottom .7s;
}
.selector:hover{
    border-bottom: 2px solid black;
}
.selector:focus{
    border-bottom: 2px solid black;
}
.options{
    background-color: rgb(56, 51, 51);
}
.btnReset{
    color: white;
    background: #1d1b1b;
    width: 15%;
    border: 0px;
    border-bottom: 2px solid rgb(122, 121, 121);
    outline: 0px;
    transition: border-bottom .5s,background-color 1s;
}
.btnReset:hover{
    border-bottom: 2px solid black;
    background: rgb(74,73,73);
    background: linear-gradient(180deg, #1d1b1b 0%, rgb(0, 0, 0) 100%);
}